Hostname "{{ inventory_hostname }}"
Interval 10
LoadPlugin write_graphite

<Plugin write_graphite>
	<Node "{{ inventory_hostname }}-collectd">
		Host "graphite-host"
		Port "2003"
		Protocol "tcp"
		ReconnectInterval 0
		LogSendErrors true
		Prefix "{{ inventory_hostname }}."
		Postfix ""
		StoreRates true
		AlwaysAppendDS false
		EscapeCharacter "_"
		SeparateInstances false
		PreserveSeparator false
		DropDuplicateFields false
	</Node>
</Plugin>

LoadPlugin python
<Plugin python>
    ModulePath "/opt/collectd_plugins"
    Import "cpu_temp"
    <Module cpu_temp>
        Path "/sys/class/thermal/thermal_zone0/temp"
    </Module>
</Plugin>